<ion-header>
  <ion-toolbar>
    <ion-title>screen-home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-button type="submit" color="primary" expand="block">
        <ion-icon name="camera"></ion-icon>
        Camera
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button type="submit" color="secondary" expand="block">
        <ion-icon name="images"></ion-icon>
        Galery
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button type="submit" color="tertiary" expand="block">
        <ion-icon name="information-circle"></ion-icon>
        Info
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
